.footer {
  background: #fff;
}
.header {
  margin-top: 10px;
  padding-bottom: 10px;
  background: #428bca;
  color: #fff;
}
.muted {
  color: #999;
}
.title {
}
hr {
  border-width: 5px 0px 0px;
}
.home {
  padding-top: 50px;
  background: #E0E0E0;
  padding-bottom: 50px;
}
table{
  background-color: #fff;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
