{% extends "template.html" %}
{% block title %}Medusa Server{% endblock %}
{% block container %}
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <strong>{{ category }}</strong> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
            <form role="form" enctype="multipart/form-data"
                method="post" action="run">
              <h2>Inputs</h2>
              <div class="form-group">
                <label class="control-label">
                  <label for="draft">Target draft genome</label>
                </label>
                <input name="draft" type="file" multiple="yes"
                       required>
              </div>
              <div class="form-group">
                <label class="control-label">
                  <label for="genomes">Comparison genomes</label>
                </label>
                <input name="genomes" type="file" multiple="yes"
                       required>
              </div>

              <h2>Submission details</h2>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="your@email.com"
                       required>
                <h6 class="text-muted">
                  <span class="glyphicon glyphicon-info-sign"> </span>
                  The email hash is saved for anonymous statistics on the server usage
                </h6>
              </div>
              <div class="form-group">
                <label for="password">Passphrase</label>
                <input type="password" class="form-control" name="passphrase" placeholder="Open sesam">
                <h6 class="text-muted">
                  <span class="glyphicon glyphicon-warning-sign"> </span>
                  By default the results page is visible to anyone that knows the page URL (which is then easier to share to your collaborators). Using a passphrase will ensure a better privacy on your analysis.
                </h6>
              </div>
              
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit job</button>
            </form>
          </div> <!-- /col -->
        </div> <!-- /row -->

      </div> <!-- /container -->
{% endblock %}
