{% extends "template.html" %}
{% block title %}Medusa job running...{% endblock %}
{% block container %}
      <div class="container">

        <meta HTTP-EQUIV="REFRESH" content="10">

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h3>Your Medusa analysis is running...</h3>
            <h4>This page will automatically refresh every 10 seconds</h4>
            <p>You can also bookmark this page and come back later</p>
          </div> <!-- /col -->
        </div> <!-- /row -->

      </div> <!-- /container -->
{% endblock %}
